.formInput {
  max-width: 100%;
  display: block;
  border-radius: 0.6rem;
  height: 6rem;
  border: 1px solid #333;
  padding: 2rem 3rem;
  font-size: 1.6rem;

  &::placeholder {
    color: #132743;
    opacity: 50%;
  }
}

.formInput-full {
  width: 54rem;
}

.formInput-half {
  width: 25.5rem;
}
